<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Upload</title>
<style>

.button {
  background-color: #990a0a;
  border: none;
  color: white;
  padding: 11px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.3rem;
}

table {
    width:100%;
}
h3 {
    color: crimson;
    text-align: center;
    }
th, td {
    padding: 15px;
    text-align: center;
    }
#t01 tr:nth-child(even) {
    background-color: #eee;
    }
#t01 tr:nth-child(odd) {
    background-color:#eee;
    }
#t01 th {
    background-color:#353535;
    color: white;
    }
#upload {
    width: auto;
    background-color: #353535;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    }
</style>
</head>
<body>
    <h1>File Upload</h1>
    <form id="upload" action="/upload" method="POST" enctype="multipart/form-data">
        <span><input type="file" name="file" accept="image/*" required></span>
        <span><input type="submit" value="Submit" id="label" ></span>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <h3 id="error">{{ message }}</h3> 
          {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
    <table id="t01">
    <tr>
        <th>Name</th>
        <th>Date</th> 
        <th>Format</th>
        <th>Dimensions</th>
        <th>Size</th>
        <th>Thumbnail</th>
        <th></th>
    </tr>
    {%if all_pic%}
    {% for pic in all_pic%}   
    <tr>
      <td>{{pic.name}}</td>
      <td>{{pic.pic_date.strftime('%d/%h/%Y')}}</td>
      <td>{{ pic.name[-5:].split('.')[1]}}</td>
      <td>{{ pic.dimensions }}</td>
      <td>{{ pic.size }}</td>
      <td>
        <a class="card-title" href="{{url_for('pic', id=pic.id)}}">
        <img class="card-img-top" src="data:;base64,{{pic.rendered_data}}" style="width: 80px; height: 80px;"> 
        </a>
      </td>
      <td>
        <form action="{{url_for('delete', id=pic.id)}}" method="POST">
        <input type="submit" value="Delete" name="delete"  class="button">
      </td>
      {% endfor %}
      {% else %}
    </tr>
</table>
<h3>There is no file yet...</h3>
{% endif %}
</body>
</html>

