<span style="font-size: 22px;">Here's your image..</span>
<button><a style="text-decoration: none; font-size: medium;" href="/">See All Files</a></button>
<hr>
<a href="{{url_for('pic', id=file_id)}}">
<img src="data:;base64,{{file_render}}" style="width: 150px"></a>
<br>
<p><b>file name:</b> {{file_name}}</p>
<span><b>Published on:</b> {{file_date.strftime('%d-%m-%Y')}}</span>
<p><b>Type:</b> {{file_type}}</p>
<p><b>Dimensions:</b> {{siz}}</p>
<p><b>Size:</b> {{img_vol}}</p>